name: Checkmarx One Escanear

on:
  push:
    branches:
      - main
      - master
      - develop
  pull_request:
    branches:
      - main
      - master
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Checkmarx-One-Scan
        uses: checkmarx/ast-github-action@main
        with:
          project-name: 'EmmanuelTobonKMH/juice-shop'
          cx-tenant: 'nfr_lugapel-ast'
          base-uri: 'https://ast.checkmarx.net/'
          cx-client-id: ${{ secrets.CX_CLIENT_ID }}
          cx-client-secret: ${{ secrets.CX_CLIENT_SECRET }}


      
