name: Checkmarx One Scan

on:
  push:
    branches:
      - main
      - master
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Checkmarx AST Github Action
        uses: Checkmarx/ast-github-action@2.0.23
        with:
          base_uri: 'https://ast.checkmarx.net'
          cx_tenant: 'nfr_lugapel-ast'
          cx_client_id: ${{ secrets.CX_CLIENT_ID }}
          cx_client_secret: ${{ secrets.CX_CLIENT_SECRET }}
          project_name: 'EmmanuelTobonKMH/juice-shop'
          branch: ${{ github.ref_name }}
          additional_params: '--report-format sarif --output-path .'
  
          
